.body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  margin: 55px auto 50px;
  width: 70%;
}

.imgBanner {
  width: 100%;
  object-fit: scale-down;
}

.promo {
  display: block;
  width: 74%;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.content {
  display: flex;
  justify-content: center;
}

.produk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
}
