.body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 70%;
}

.imgBanner {
  width: 100%;
  object-fit: scale-down;
}

.promo {
   display: block;
  width: 74%;
}

.headerContent{
   width: 100%;
   display: flex;
   justify-content: center;
}

.content{
   display: flex;
   justify-content: center;
}

.panah{
   margin: 0px;
   width: 2.5%;
}

.panahIcon{
   width: 100%;
   height: 40px;
}

.produk{
   display: flex;
   width: 95%;
}

.produkCard{
   width: 25%;
   margin: 0px 1%;
}
