.body {
  font-family: "Roboto";
  height: 620px;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fbfcfc;
  width: 42%;
  border-radius: 5px;
  padding: 28px 0px;
}

.formHeader {
  width: 100%;
  text-align: center;
  margin-bottom: 37px;
}

.formBody {
  width: 48%;
  display: flex;
  margin: auto;
}

.formHeaderJudul {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.formHeaderKeterangan {
  font-size: 14px;
  margin-top: 5px;
  letter-spacing: 0.2px;
}

.link {
  text-decoration: none;
  color: #3d8461;
  font-weight: 500;
}

.formBodyForm{
  width: 100%;
}

.formInput {
  margin-bottom: 14px;
}

.formPassword{
  display: flex;
  align-items: center;
}

.formPasswordIcon{
  margin-top: 7px;
  margin-left: 5px;
}

.formPasswordIcon:hover{
  filter: invert(90%) sepia(15%) saturate(228%) hue-rotate(168deg) brightness(98%) contrast(92%);
  cursor: pointer;
}

.formPasswordIconAktif{
  filter: invert(90%) sepia(15%) saturate(228%) hue-rotate(168deg) brightness(98%) contrast(92%);
}

.label {
  font-size: 15px;
  letter-spacing: 1px;
}

.input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  margin-top: 7px;
}

.input:focus{
  color: black;
  font-size: 15px;
  font-family: "Roboto";
  letter-spacing: 1px;
  padding-left: 7px;
}

.input[type="text"]{
  color: black;
  font-size: 15px;
  font-family: "Roboto";
  letter-spacing: 1px;
  padding-left: 7px;
}

.input[type="password"]{
  color: black;
  font-size: 15px;
  font-family: "Roboto";
  letter-spacing: 1px;
  padding-left: 7px;
}

.input::placeholder {
  color: black;
  opacity: 45%;
  font-size: 15px;
  font-family: "Roboto";
  letter-spacing: 1px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

.errorMessage::before {
  display: inline;
  content: "⚠ ";
}

.textAlignCenter {
  text-align: center;
}

.atauLoginDengan {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
}

.login {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.microsoft {
  display: flex;
  align-items: center;
  background-color: white;
}

.imgMicrosoft {
  height: 35px;
  object-fit: scale-down;
  margin-left: 10px;
  margin-right: 64px;
}
