.nav {
  position: sticky;
  background-color: #e9ecef;
  display: flex;
  height: 55px;
  width: 100%;
  top: 0;
  /* Y Center */
  align-items: center;
  /* X Center */
  justify-content: center;
  /* X Y Blur (Spread) Color  */
  box-shadow: 0px 2px 7px rgb(0 0 0 / 10%);
}

.row {
  display: flex;
  width: 83%;
  height: 100%;
  font-family: "Roboto";
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  height: 100%;
  align-items: center;
}

.header {
  width: 20%;
  font-size: 24px;
  letter-spacing: 1.8px;
  font-weight: 500;
}

.body {
  width: 8%;
  justify-content: center;
}

.bodyButton {
  font-size: 19px;
  letter-spacing: 0.8px;
  font-weight: 400;
}

.search {
  width: 44%;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black;
}

.input {
  background-color: white;
  width: 490px;
  margin-left: 3%;
  height: 32px;
  border-radius: 7px;
  border: 1px solid #d7d9dd;
}

.input:focus {
  color: black;
  font-size: 17px;
  font-family: "Roboto";
  letter-spacing: 1.2px;
  padding-left: 15px;
}

.input[type="text"] {
  color: black;
  font-size: 17px;
  font-family: "Roboto";
  letter-spacing: 1.2px;
  padding-left: 15px;
}

.input::placeholder {
  color: black;
  opacity: 45%;
  font-size: 17px;
  font-family: "Roboto";
  letter-spacing: 1.2px;
}

.icon {
  font-size: 23px;
}

.keranjang {
  width: 6%;
  justify-content: right;
}

.dropdownRight {
  width: 6%;
  justify-content: right;
}

.dropdownButton {
  border: none;
  background-color: inherit;
}

.dropdownContent {
  display: none;
  font-size: 16px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.16);
  margin-top: 100px;
}

.dropdownContentDashboard{
  margin-top: 255px;
}

.dropdownContentLeft {
  margin-top: 100px;
  width: 100%;
  display: none;
  justify-content: center;
  background-color: white;
  right: 0;
}

.linkLeft{
  /* atas-bawah kanan-kiri */
  padding: 16px 27px;
  display: block;
  text-align: center;
}

.linkRight {
  float: none;
  /* atas-bawah kanan-kiri */
  padding: 16px 30px;
  display: block;
  text-align: center;
}


/* Displaying Hover Navbar */

.dropdownContent:hover {
  display: block;
}

.dropdownRight:hover .dropdownContent {
  display: block;
}

.dropdownLeft:hover .dropdownContent {
  display: flex;
}

.linkLeft:hover   {
  background-color: #F5F8FA;
}

.linkRight:hover {
  background-color: #F5F8FA;
}

.body:hover{
  background-color: #F5F8FA;
  cursor: pointer;
}

.bodyButton:hover{
  cursor: pointer;
}

.dropdownRight:hover{
  cursor: pointer;
}

.dropdownButton:hover{
  cursor: pointer;
}


/* Utility */

hr{
  width: 75%;
  /* atas-bawah kanan-kiri */
  margin: 0px auto;
}