.body {
  font-family: "Roboto";
  display: block;
  justify-content: center;
  margin: 55px auto 30px;
  width: 42%;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #fbfcfc;
  border-radius: 5px;
}

.content {
  padding: 35px 100px 35px 70px;
  display: block;
}

.contentHeader {
  margin-bottom: 45px;
  font-weight: 500;
}

.contentBody {
  margin-bottom: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contentLabel {
  width: 27%;
}

.contentInput {
  width: 73%;
  display: flex;
  align-items: center;
}

.colon {
  margin-right: 10px;
}

.input {
  width: 100%;
  height: 22px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

.input:focus {
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 8px;
}

.input[type="text"] {
  font-family: "Roboto";
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 8px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

.errorMessage::before {
  display: inline;
  content: "⚠ ";
}

.contentLast {
  margin-bottom: 0px;
}

.aksiButton{
  display: flex;
  justify-content: center;
}

.button{
  border: none;
  border-radius: 13px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.2px;
  height: 30px;
  width: 100px;
  color: white;
}

.buttonBatal{
  background-color: #CE0505;
  margin-right: 15px;
}

.buttonSimpan{
  background-color: black;
  margin-left: 15px;
}
