.body {
  font-family: "Roboto";
  display: block;
  justify-content: center;
  margin: 55px auto 50px;
  width: 70%;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.background {
  background-color: #fbfcfc;
  width: 100%;
  border-radius: 5px;
}

.rowJudul{
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.colJudul{
  width: 25%;
  display: flex;
  justify-content: center;
}

.judulButton{
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 16%);
  border: none;
  width: 72%;
  height: 35px;
  background-color: white;
}

.aktif{
  background-color: #D4E4F1;
}

.headerKosong {
  height: 55px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 25px;
}

.content {
  height: 230px;
  margin-bottom: 5px;
  display: block;
}

.contentKosong{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentHeader{
  display: flex;
  padding-top: 25px;
  margin-bottom: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.contentHeaderTanggal{
  letter-spacing: 1.6px;
  display: flex;
  align-items: center;
}

.contentHeaderStatus{
  margin-left: 20px;
  margin-right: 20px;
}

.contentHeaderStatusButton{
  border: none;
  border-radius: 15px;
  width: 120px;
  height: 25px;
}

.contentHeaderStatusButton:hover{
  cursor: default;
}

.contentHeaderInvoice{
  display: flex;
  align-items: center;
  opacity: 50%;
}

.contentBody{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lanjutBelanja {
  border: none;
  border-radius: 15px;
  box-shadow: 1px 2px 2px rgb(0, 0, 0, 16%);
  background-color: inherit;
  height: 40px;
  width: 185px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.lanjutBelanja:hover {
  background-color: #d4e4f1;
}

.produk {
  width: 72%;
  display: flex;
  align-items: center;
}

.produkImage{
  width: 18%;
  display: flex;
  align-items: center;
}

.imgProduk {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.produkDetail{
  width: auto;
  line-height: 1.4;
}

.produkDetailHarga{
  opacity: 50%;
}

.totalBelanja {
  width: 13%;
  display: block;
  text-align: center;
  line-height: 1.8;
}

/* Utils */

button{
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}
